
<%= form_for(@carrera,:html => {:class => 'form-horizontal form-label-left'}) do |f| %>
  <% if @carrera.errors.any? %>
     <div id="error_explanation">
      <ul>
       <% @carrera.errors.full_messages.each do |message| %>
       <li><%= message %></li>
       <% end %>
      </ul>
     </div>
  <% end %>


  <div class="form-group">
    <%= f.label :nombre, :class =>'control-label col-md-3 col-sm-3 col-xs-12' %>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <%= f.text_field :nombre, :class => 'form-control' %>
    </div>
  </div>
  
  <% if @carrera.mallas.present? %>
      <h4>Mallas Asociadas</h4>
      <%= f.fields_for :mallas do |malla_form| %>
          <%= malla_form.label :plan %> <br>
          <%= malla_form.text_field :plan %> <br>
          
      <% end %>
  <% end %>
  
  <br>
  <div class="ln_solid"></div>
  <div class="form-group">
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <%= f.submit class: "btn btn-primary" %>
<!-- saque 2div que se cerraran en el edit... cerrar en el new tb -->    
 
<% end %>


