<%= render "renders/pruebatop"%>
<h2>Editar Carrera</h2>
<%= render "renders/pruebamid"%>
<%= render 'form' %>




 <%= link_to 'Ver', @carrera, class: "btn btn-info" %>
 <%= link_to 'Volver', carreras_path, class: "btn btn-default" %>
  </div>
 </div>

<%= render "renders/pruebabot"%>
