<%= render "renders/pruebatop"%>	
  <h2>Contrato Profesor Honorario</h2>
<%= render "renders/pruebamid"%>	

<form class="form-horizontal form-label-left">
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre </label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input type="text" class="form-control" disabled="disabled" placeholder="<%= @profesor.nombre %>">
    </div> 
  </div>
  
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Rut </label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input type="text" class="form-control" disabled="disabled" placeholder="<%= @profesor.rut %>">
    </div> 
  </div>
  
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Email </label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input type="text" class="form-control" disabled="disabled" placeholder="<%= @profesor.email %>">
    </div> 
  </div>


  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Telefono </label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input type="text" class="form-control" disabled="disabled" placeholder="<%= @profesor.telefono %>">
    </div> 
  </div>
  
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Precio hora </label>
      <div class="col-md-9 col-sm-9 col-xs-12">
          <input type="text" class="form-control" disabled="disabled" placeholder="<%= @profesor.precioHora %>">
      </div>
  </div> 
  
 <div class="ln_solid"></div>
 <h4>Período </h4>
  
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">Año </label>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <input type="text" class="form-control" disabled="disabled" placeholder="<%= @anio %>">
      </div> 
    </div>
    
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">Semestre </label>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <input type="text" class="form-control" disabled="disabled" placeholder="<%= @semestre %>">
      </div> 
    </div>
 <div class="ln_solid"></div>
 <h4>Detalle </h4>
    <% @secciones.each do |seccion| %>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Sección </label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="text" class="form-control" disabled="disabled" placeholder="<%= seccion.nombre %> - <%=  get_modulo(seccion) %> - Plan <%= get_plan(seccion) %> - <%= get_carrera(seccion) %>" > 
          </div> 
        </div>
    <% end %>

 

 <div class="ln_solid"></div>

 <h4>Contratos </h4>
  <table id="tabla_contratos" class="table table-striped projects">
    <thead>
      <tr>
        <th style="width: 1%" >#</th>
        <th style="width: 10%">Año</th>
        <th style="width: 10%">Semestre</th>
        <th style="width: 10%">Monto</th>
        <th style="width: 10%">Numero Secciones</th>
        <th style="width: 20%">#Accion</th>
      </tr>
    </thead>

  <tbody>
    <% @contratos.each do |contrato| %>
      <tr>
        <td>#</td>
        <td><%= contrato.anio %></td>
        <td><%= contrato.semestre %></td>
        <td><%= contrato.monto %></td>
        <td> <%= @secciones.count %></td>
        <td>
          <%= link_to '<i class="fa fa-eye"></i> Visualizar'.html_safe, visualizar_contrato_path(:id => contrato.id, :format => :pdf), class: "btn btn-primary btn-xs"  %>
           <%= link_to '<i class="fa fa-eye"></i> Eliminar Contrato'.html_safe, eliminar_contrato_path(:profesor => @profesor.id, :semestre => @semestre, :anio => @anio,:contrato_id => contrato.id ), method: :post,data: { confirm: '¿Confirma que desea eliminar el contrato?' }, class: "btn btn-danger btn-xs" %>

        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

    
</form>
 <div class="ln_solid"></div>

  <div class="form-group">
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <%= link_to 'Volver', honorario_profesors_path, class: "btn btn-default" %>
      <%= link_to 'Generar Contrato', generar_contrato_path(:profesor => @profesor.id, :semestre => @semestre, :anio => @anio),method: :post, class: "btn btn-success" %>
      


    </div>
  </div>

<%= render "renders/pruebabot"%>	

<script>
  
  $('#tabla_contratos').DataTable( {
    responsive: true,
    "language": {
        "sProcessing":    "Procesando...",
        "sLengthMenu":    "Mostrar _MENU_ registros",
        "sZeroRecords":   "No se encontraron resultados",
        "sEmptyTable":    "Ningún dato disponible en esta tabla",
        "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix":   "",
        "sSearch":        "Buscar:",
        "sUrl":           "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst":    "Primero",
            "sLast":    "Último",
            "sNext":    "Siguiente",
            "sPrevious": "Anterior"
        },
        "oAria": {
            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
    }
} );
</script>