<%= render "renders/pruebatop"%>	
  <h2>Editar Profesor </h2>
<%= render "renders/pruebamid"%>	
<%= render 'form' %>


<%= link_to 'Volver', profesors_path, class: "btn btn-default" %>
<%= render "renders/pruebabot"%>	



