<%= render "renders/pruebatop"%>	
  <h2>Administrar Profesor Honorario</h2>
<%= render "renders/pruebamid"%>	
<p id="notice"><%= notice %></p>

<h4>Seleccionar período</h4>

<%= form_for(@solicitud, :html => {:class => 'form-horizontal form-label-left'}) do |f| %>
  <div class="form-group">
    <%= f.label :año,:class =>'control-label col-md-3 col-sm-3 col-xs-12' %>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <%= f.select :anio, options_for_select(2015..2030, params[:anio]),{}, { :class => 'form-control' } %><br>
      </div>
  </div>
  
  <div class="form-group">
    <%= f.label :semestre,:class =>'control-label col-md-3 col-sm-3 col-xs-12' %>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <%= f.select :semestre, options_for_select([1,2,3,4], params[:semestre]),{}, { :class => 'form-control' } %><br>
      </div>
  </div>


<table id="tabla_profesor" class="table table-striped projects">
  <thead>
    <tr>
      <th style="width: 1%" >#</th>
      <th style="width: 10%">Nombre</th>
      <th style="width: 10%">Email</th>
      <th style="width: 10%">Rut</th>
      <th style="width: 10%">Telefono</th>
      <th style="width: 10%">Tipo</th>

      <th style="width: 20%">#Accion</th>
    </tr>
  </thead>

  <tbody>
    <% @profesors.each do |profesor| %>
      <tr>
        <td>#</td>
        <td><%= profesor.nombre ? profesor.nombre : " - " %></td>
        <td><%= profesor.email ? profesor.email : " - " %></td>
        <td><%= profesor.rut ? profesor.rut : " - " %></td>
        <td><%= profesor.telefono ? profesor.telefono : " - " %></td>
        <td><%= profesor.tipo ? profesor.tipo : " - " %></td>



        <td>
          <%= link_to '<i class="fa fa-eye"></i> Visualizar'.html_safe, "#", :onclick => "enviarInformacion( '#{profesor.id}', 1);" , class: "btn btn-primary btn-xs"  %>
          <%= link_to '<i class="fa fa-pencil"></i> Asignar Sección'.html_safe, "#", :onclick => "enviarInformacion( '#{profesor.id}', 2)",class: "btn btn-warning btn-xs"  %>
          <%= link_to '<i class="fa fa-file-pdf-o"></i> Contratos'.html_safe, "#", class: "btn btn-success btn-xs"  %>
            
         

        </td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

</br>
<% end %>
<div class="ln_solid"></div>



<%= render "renders/pruebabot"%>

<!--Test Page specific JS -->
<script>
  
  $('#tabla_profesor').DataTable( {
    responsive: true,
    "language": {
        "sProcessing":    "Procesando...",
        "sLengthMenu":    "Mostrar _MENU_ registros",
        "sZeroRecords":   "No se encontraron resultados",
        "sEmptyTable":    "Ningún dato disponible en esta tabla",
        "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix":   "",
        "sSearch":        "Buscar:",
        "sUrl":           "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst":    "Primero",
            "sLast":    "Último",
            "sNext":    "Siguiente",
            "sPrevious": "Anterior"
        },
        "oAria": {
            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
    }
} );


  
  function enviarInformacion(id,url) {
    var anio = document.getElementById("solicitar_seccion_anio").value,
        semestre = document.getElementById("solicitar_seccion_semestre").value;
    console.log(id,anio,semestre);
    if (url == 2){
      window.location = "/asignar/profesor/"+id+"/semestre/"+semestre+"/anio/"+anio
    }
    else if(url == 1){
       window.location = "/visualizar_honorario/profesor/"+id+"/semestre/"+semestre+"/anio/"+anio
    }
        
  };
  
  
</script>