<%= render "renders/pruebatop"%>	
  <h2>Crear Profesor <%= @valor %></h2>
<%= render "renders/pruebamid"%>	

<%= render 'form' %>

<%= link_to 'Volver', profesors_path, class: "btn btn-default" %>
  </div>
 </div>
<%= render "renders/pruebabot"%>