
<%= render "renders/pruebatop"%>	
  <h2>Crear Presupuesto</h2>
<%= render "renders/pruebamid"%>	
<%= render 'form' %>

<%= link_to 'Volver', presupuestos_path, class: "btn btn-default" %>
<%= render "renders/pruebabot"%>	