<%= render "renders/pruebatop"%>	
  <h2>Editar Seccion </h2>
<%= render "renders/pruebamid"%>
<%= render 'form' %>

<%= link_to 'Show', @seccion %> |
<%= link_to 'Back', seccions_path %>
<%= render "renders/pruebabot"%>	

