<%= render "renders/pruebatop"%>	
  <h2>Solicitar Secciones</h2>
<%= render "renders/pruebamid"%>	

<%= form_for(@solicitud, :html => {:class => 'form-horizontal form-label-left'}) do |f| %>


   <div class="form-group">
    <%= f.label :año,:class =>'control-label col-md-3 col-sm-3 col-xs-12' %>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <%= f.select :anio, options_for_select(2015..2030, params[:anio]),{}, { :class => 'form-control' } %><br>
      </div>
  </div>

 <div class="form-group">
    <%= f.label :semestre,:class =>'control-label col-md-3 col-sm-3 col-xs-12' %>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <%= f.select :semestre, options_for_select([1,2,3,4], params[:semestre]),{}, { :class => 'form-control' } %><br>
      </div>
  </div>


<table id="tabla_secciones" class="table table-striped projects">

  <thead>
    <tr>
      <th style="width: 1%">#</th>
      <th>Nombre Sección</th>
      <th>Módulo</th>
      <th>Plan</th>
      <th>Carrera</th>
      <th>Horas Laboratorio</th>
      <th>Horas Cátedra</th>
      <th>Accion</th>
    </tr>
  </thead>

  <tbody>
    <% @seccions.each do |seccion| %>
      <tr>
        <td>#</td>
        <td><%= seccion.nombre %></td>
        <td><%=  get_modulo(seccion) %></td>
        <td><%= get_plan(seccion) %> - <%= seccion.id %></td>
        <td><%=  get_carrera(seccion) %></td>
        <td><%= seccion.hrsLab %></td>
        <td><%= seccion.hrsCatedra %></td>
        

      <td>
          <%= f.hidden_field :seccionId, :value => seccion.id %>
          <%= f.submit "Solicitar",class: "btn btn-primary",onClick: "getSeccionId(this)" %>  
          
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

</br>
<div class="ln_solid"></div>
  <div class="form-group">
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
    <%= link_to 'Crear Sección', new_seccion_path, class: "btn btn-success"%>
    </div>
  </div>


  
<% end %>


 <%= render "renders/pruebabot"%>


<!--Test Page specific JS -->
<script>

  function getSeccionId(button){
    buttonSol = button
    
    console.log("button :",button);
    
    console.log(" buttonSol.parentNode.childNodes[1].value; :", buttonSol.parentNode.childNodes[1].value);
   
    
    document.getElementById("solicitar_seccion_seccionId").value = buttonSol.parentNode.childNodes[1].value;
    
    console.log("document.getElementById(solicitar_seccion_seccionId) :",document.getElementById("solicitar_seccion_seccionId"));
    
    arrayButtons = document.getElementsByName("solicitar_seccion[seccionId]");
    
    
    document.getElementsByName("solicitar_seccion[seccionId]")[arrayButtons.length -1].value = buttonSol.parentNode.childNodes[1].value;
    
    
    alert(button.parentElement);
    
    
  }
  
  $('#tabla_secciones').DataTable( {
    responsive: true,
    "language": {
        "sProcessing":    "Procesando...",
        "sLengthMenu":    "Mostrar _MENU_ registros",
        "sZeroRecords":   "No se encontraron resultados",
        "sEmptyTable":    "Ningún dato disponible en esta tabla",
        "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix":   "",
        "sSearch":        "Buscar:",
        "sUrl":           "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst":    "Primero",
            "sLast":    "Último",
            "sNext":    "Siguiente",
            "sPrevious": "Anterior"
        },
        "oAria": {
            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
    }
} );
</script>