<%= render "renders/pruebatop"%>
<h2>Editar Espejo</h2>
<%= render "renders/pruebamid"%>

<form class="form-horizontal form-label-left">
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre </label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input type="text" class="form-control" disabled="disabled" placeholder="<%= @modulo.nombre %>">
    </div> 
  </div>
  
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Código </label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input type="text" class="form-control" disabled="disabled" placeholder="<%= @modulo.codigo %>">
    </div> 
  </div>
</form>

<h2>Espejos</h2>
 
<div class="ln_solid"></div>

<table id="tabla_modulos" class="table table-striped projects">
  <thead>
    <tr>
      <th style="width: 1%">#</th>
      <th style="width: 1%">Nombre</th>
      <th style="width: 10%">Carrera</th>
      <th>Plan</th>
      <th>Codigo</th>
      <th>Creditos</th>
      <th>Nivel</th>
      
      <th>Espejos</th>
      <th>Accion</th>
    </tr>
  </thead>

  <tbody>
    <% @modulos.each do |modulo| %>
    <% if @modulo == modulo %>
    <% else %>
      <tr>
        <td>#</td>
        <td><%= modulo.nombre %></td>
        <td><%= modulo.malla.carrera.nombre %></td>

        <td><%= modulo.malla ? modulo.malla.plan : "Sin plan asociado" %></td>
        <td><%= modulo.codigo %></td>
        <td><%= modulo.creditos %></td>
        <td><%= modulo.nivel %></td>
        
        <% if modulo.yo_mirror.size > 0 %>
          <td>
            <% modulo.yo_mirror.each do |mirror| %>
            <%= mirror.reflector.nombre+": " + mirror.reflector.codigo %> <br></br>
            <% end %>
          </td>
        <% else %>
          <td></td>
        <% end %>
      <td>
        <% id = @modulo.id %>
        <% if contains_espejo(@modulo,modulo) %>
          <%= link_to '<i class="fa fa-remove"></i> Eliminar Espejo'.html_safe, eliminar_espejo_path(@modulo,modulo), class: "btn btn-danger btn-xs"  %>
        <% else %>
          <%= link_to '<i class="fa fa-plus"></i> Agregar Espejo'.html_safe,agregar_espejo_path(@modulo,modulo), class: "btn btn-primary btn-xs"  %>
        <% end %>
          
      </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


<%= params.inspect %>

<%= render "renders/pruebabot"%>

<!--Test Page specific JS -->
<script>
  
  $('#tabla_modulos').DataTable( {
    responsive: true,
    "language": {
        "sProcessing":    "Procesando...",
        "sLengthMenu":    "Mostrar _MENU_ registros",
        "sZeroRecords":   "No se encontraron resultados",
        "sEmptyTable":    "Ningún dato disponible en esta tabla",
        "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix":   "",
        "sSearch":        "Buscar:",
        "sUrl":           "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst":    "Primero",
            "sLast":    "Último",
            "sNext":    "Siguiente",
            "sPrevious": "Anterior"
        },
        "oAria": {
            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
    }
} );
</script>