<%= render "renders/pruebatop"%>	
  <h2>Crear Módulo</h2>
<%= render "renders/pruebamid"%>	

<%= render 'form' %>

<%= link_to 'Volver', modulos_path, class: "btn btn-default" %>
  </div>
 </div>
<%= render "renders/pruebabot"%>