<%= render "renders/pruebatop"%>
<h2>Editar Malla</h2>
<%= render "renders/pruebamid"%>

<%= render 'form' %>


<%= link_to 'Ver', @malla, class: "btn btn-info" %>
<%= link_to 'Volver', mallas_path, class: "btn btn-default" %>
</div>
</div>


<%= render "renders/pruebabot"%>
